#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.croqueta {
 display: flex;
 align-items: center;
 justify-content: center;
 padding-bottom: 30px;
 
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: flex-start;
  text-align:left;
  gap: 20px;
}

.empleado {
  display: inline-block;
  width: 250px;
  padding: 10px;
  background-color: #f3f3f3f3;
  color: #3d3636f8;
  border-radius: 4px;
}

h3 {
  color: #0113d7d8;
}

span, label {
  font-weight: bold;
}


.pie {
  list-style: none;
  padding: 50px;
}

.calculadora {
  border: 1px solid #0113d7d8;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  align-items: flex-start;
  gap:10px;
  border-radius: 4px;
  margin: 30px;
}

.calculadora button {
  border: 1px solid #0113d7d8;
  border-radius: 4px;
  margin: 6px;
}